<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>投稿詳細画面</title>
</head>
<body>
	<table border="1">
		<tr>
			<th>投稿詳細</th>
		</tr>
		<tr>
			<th>ID</th>
			<th>CONTENT</th>
		</tr>
		<tr th:action="@{/show/{id}(id=${formModel.id})}" th:object="${formModel}" th:method="get">
			<td th:text="${formModel.id}"></td>
			<td th:text="${formModel.content}"></td>
		</tr>
	</table>
	<form action="/">
		<input type="submit" value="戻る"/>
	</form>

	<form method="post" action="/comment/add" th:object="${formModel}">
		<table border="1">
			<tr>
				<th>Comment内容</th>
				<td>
					<input type="hidden" name="reportId" th:value="${formModel.id}" />
					<input type="text" name="comment" th:value="${comment}" size="20" maxlength="200" />
				</td>
			</tr>
		</table>
		<input type="submit" value="コメント投稿" />
	</form>
	<table border="1">
		<tr>
			<th>COMMENTID</th>
			<th>REPORTID</th>
			<th>COMMENT</th>
			<th></th>
			<th></th>
		</tr>
		<!-- <th:block th:if="${formModel.id == comment.reportId}"> -->
		<tr th:each ="comment : ${comments}">
			<td th:text="${comment.id}"></td>
			<td th:text="${comment.reportId}"></td>
			<td th:text="${comment.comment}"></td>
			<td><a th:href="@{/commentEdit/{id}(id=${comment.id})}"><button type="button">編集</button></a></td>
			<td>
				<form th:action="@{/commentDelete/{id}(id=${comment.id})}" th:method="delete">
					<input type="submit" value="削除">
				</form>
			</td>
		</tr>
		<!-- </th:block> -->
	</table>
</body>
</html>