<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<form action="./" method="get">
		日付<br />
		<input type ="date" name ="startDate" th:value="${inpStartDate}">
		～
		<input type ="date" name ="endDate" th:value="${inpEndDate}">
		<input type ="submit" value ="絞り込み">
	</form>
	<a href="new"><button type="button">新規投稿</button></a>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>CONTENT</th>
		</tr>
		<tr th:each="content : ${contents}">
			<td th:text="${content.id}"></td>
			<td th:text="${content.content}"></td>
			<td><a th:href="@{/edit/{id}(id=${content.id})}"><button type="button">編集</button></a></td>
			<td>
				<form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
					<input type="submit" value="削除">
				</form>
			</td>
			<td><a th:href="@{/show/{id}(id=${content.id})}"><button type="button">詳細</button></a></td>
		</tr>
	</table>
</body>
</html>